#first-tweet-sidebar {
  position: fixed;
  top: 100px;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: transparent;
  border-left: 1px solid #ccc;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: none;
  color: white;
}

#first-tweet-button {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 10000;
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

#first-tweet-button:hover {
  background-color: #0c85d0;
}

#close-button {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 10000;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  display: none;
}

.year-header {
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0;
}

.month {
  margin-left: 15px;
}
